#hero-bottom-main {
    padding: 50px 7vmin 50px  7vmin;
    margin-bottom: 30px;
    min-height: 25vmax;
    display: flex;
     
    align-items: center;
    justify-content: center;
    gap: 5vmax;
    flex-direction: column;
    text-align: center;
    border-radius: 50px 100px 50px 100px;
}

#hero-head>p {
    color: rgb(152, 145, 145);
    font-weight: 300;
    font-size: 17px;
}

#hero-head>h1 {
    color: rgb(230, 225, 225);
    font-weight: 300;
}

#mid-card {
    margin-top: 80px;
}
#hero-bottom-lower{
    width: 100vw;
    justify-content:space-between;
    display: flex;
}
#hero-bottom-left>img {
    width: 35vmax;
}
#hero-bottom-left {
    /* margin-top: -9vmax; */
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    /* gap: 4vmax; */
    width: 100%;

    /* width: 100%; */


}

#hero-bottom-right {
    color: white;
    display: flex;
    justify-content: center;
    gap: 1vmax;
    /* flex-direction: column; */
  align-items: center;
    text-align: left !important;
    width: 100vw !important;
}

#hb-right-img {
    display: flex;
    margin-left: -20px;
    gap: 4vmin;
}

#hero-bottom-right>p {
    line-height: normal;
}



/* #hero-bottom-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
} */
 #h-b-r-card>p{
    color: rgb(169, 167, 167);
    line-height: 25px;
 }
 #h-b-r-card {
    border-radius: 20px !important;
        height: 315px;
         display: flex;
         flex-direction: column;
        max-width: 424px;
        padding: 20px !important;
         text-align: justify;
     background: transparent ;
     align-self: center;
 }

@media (max-width:400px) {
    #h-b-r-card {
        width: 100%;
        align-self: center;
    }
}
@media (max-width:937px) {
#hero-bottom-right {
    flex-direction: column;
}
}
@media (max-width:837px) {
    #hero-bottom-left {

        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* align-items: center; */
        /* gap: 3vmax; */
        width: 100%;
    }
#hero-bottom-lower {
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#hero-bottom-left>img {
    width: 50vmax;
}
#hero-bottom-right {
     gap: 40px;
    text-align: center !important;
    width: 100%;
     
}
    #mid-card {
        margin-top: 0px;
    }

    #hero-bottom-main {
        padding: 20px 7vmin 20px 7vmin;
        padding-bottom: 100px;
    }
}
