#roadmap-card {
    width: 100%;     
    max-width: 300px;   
    color: white;
     
    flex-shrink: 0;
    border-radius: 15px;
    
    display: flex;
    gap: 0px;
    flex-direction: column;
     
    align-items: center;
    padding: 5px  ;
    text-align: center;
     
    /* box-shadow: 0px 9px 19px 0px rgba(227, 13, 13, 0.01), 0px 15px 35px 0px rgba(0, 0, 0, 0.02); */
}
#r-mid{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    justify-content: center;
}
#r-mid>h4{
 font-weight: 600;
}
 
#image_div>img{
    width: 100%;
    height: 100%;   
}
#image_div{
    height: 10vmax;
    width: 70%;
    overflow: hidden;
    border: 2px solid var(--light);
    border-radius: 70px;
    object-fit: cover;
    background-color: whitesmoke;
}
#r-mid>p{
    color: rgb(197, 198, 198) !important;
    line-height: normal;
    font-size: 15px;
    color: rgb(159, 155, 155) !important;
}

@media (max-width:936px) {

    #roadmap-card {
        align-items: flex-start;
        text-align: left;
            text-align: left;
    }
    
        #r-mid {
            align-items: flex-start;
            text-align: left;
        }
        #r-mid>h4{
            align-items: left;
            text-align: left;
        }
}